@model CvAppen.Web.ViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "Ändra lösenord";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card-shadow">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">@ViewData["Title"]</h3>
                    <form asp-action="ChangePassword" method="post"> 
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                        <div class="mb-3">
                            <label asp-for="CurrentPassword" class="form-label"></label>
                            <input asp-for="CurrentPassword" class="form-control" />
                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="NewPassword" class="form-label"></label>
                            <input asp-for="NewPassword" class="form-control"/>
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="ConfirmPassword" class="form-label"></label>
                            <input asp-for="ConfirmPassword" class="form-control"/>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-primary w-100 mb-3">Ändra lösenord</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>