html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.header {
    background-color: #94BDC2;
    padding: 1rem 0;
}

.nav-link, .navbar-brand {
    color: #324B4E;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 1rem;
}

.icon {
    width: 28px;
    height: 28px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.icon-label {
    color: #324B4E;
    font-size: 1rem;
    text-align: center;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.footer {
    padding: 2rem 0;
    background-color: #94BDC2;
}

.hamburger-container {
    position: relative;
}

.hamburger-menu {
    background: #60888c;
    display: none;
    list-style: none;
    position: absolute;
    z-index: 1000;
    top: 100%;
    right: 0;
    min-width: 140px;
    padding: 0;
    margin: 0;
}

.hamburger-menu li {
    padding: 0;
}

.menu-item {
    display: block;
    background: none;
    border: none;
    padding: 0.5rem 1rem;
    width: 100%;
    text-align: left;
    text-decoration: none;
    color: black;
}

.menu-item:hover {
    background-color: #94BDC2;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked ~ .hamburger-menu {
    display: block;
}