@using CvAppen.Web.ViewModels
@using Microsoft.AspNetCore.Identity
@model MyProfileViewModel
@{
    ViewData["Title"] = "MinProfilSida";
}
@* 
lägg in User-info som inte är kopplat till CV*@

@if (Model.CV == null) //&& Model.CanEditCv)
{
    <div class="alert alert-info">
        @(Model.CanEditCv ? "Har inget CV ännu." : "Inget CV publicerat ännu")
    </div>
    @if (Model.CanEditCv)
    {
        <a asp-controller="Cv" asp-action="Create" class="btn btn-primary">
            Skapa CV
        </a>
    }
}

else 
{ 
    <div class="profile-cv">
        <h2>CV</h2>
        @await Html.PartialAsync("_CvPartial", Model.CV)
    </div>       
   
    @if (Model.CanEditCv)
    {
        <a asp-controller="Cv" asp-action="Edit" asp-route-id="@Model.CV.Id" class="btn btn-primary">
            Redigera CV
        </a>
    }
}

<h3>Projekt</h3>
@if (Model.MyProjects != null && Model.MyProjects.Any())
{
    <ul>
        @foreach(var project in Model.MyProjects)
        {
            <li>@project.Title</li>
        }
    </ul>
} 
else
{
    <div>Inga projekt ännu.</div>
}




