@using CvAppen.Data

@model IEnumerable<CvAppen.Data.User>

@{
    ViewData["Title"] = "Sök användare";
}
<h2>Sökresultat</h2>

@if (!Model.Any())
{
    <p>
    Inga användare hittades på "@Context.Request.Query["searchString"]"
    </p>
}
else
{ 
    <div class="list-group">
       @foreach (var user in Model)
        {
            <a asp-action="Details" asp-route-id="@user.Id" class="list-group-item list-group-item-action">
                @user.UserName
            </a>
        }
    </div>
}
